{{> header}}
<main>
    <h1>{{categorie}}en</h1>
    <ul>
        {{#each data}}
        <a href="/details/{{this.id}}">
            <img src="{{this.webImage.url}}" alt="{{this.title}}">
            <h2>{{this.title}}</h2>
        </a>
        {{/each}}
    </ul>
</main>
